<div class="col-md-12">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p> input can write only letters English </p>
          <input type="text" appInputPrevent="Arabic" class="form-control">
        </div>
        <div class="col-md-6">
          <p> input can write only letters Arabic </p>
          <input type="text" appInputPrevent="English" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>